//styles for instruction page

body{
   background-color: rgb(244, 241, 247);
}
//styles for h1 tag in instruction page
.instr-h1{
    text-align: center;
    color: rgb(12, 27, 28);
    font-size: 2rem;
    margin-top: $lg;
}
//styles for p tag in instruction page
.inst-p{
    text-align: center;
    margin-top: 2rem;
    color: rgb(12, 27, 28);
}
//styles for lists tag in instruction page
.inst-ul{
    text-align: center;
    margin-top: 2rem;
    color: rgb(12, 27, 28);

}

//style for the icon
.inst{
    font-size: 3rem;
    margin-top: 2rem;
    color: rgb(30, 18, 207);
  
    
}
.btns-container{
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 1rem;
}

//styles for login button
#h-btn{
    background-color:  rgba(15, 56, 95, 0.8);
    transition: 0.3s linear all;
}


//styles for register button
#r-btn{
    background-color:rgba(140, 69, 97, 0.8);
}
//select the both login an register buttons under the aut container to style
.btns-container .btns{
    color:white;
    cursor: pointer;
    border-radius: 20px;
    padding: $normal 0;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}


