//styles for instruction page

body{
   background-color: rgb(244, 241, 247);
}
//styles for h1 tag in instruction page
.instr-h1{
    text-align: center;
    color: rgb(12, 27, 28);
    font-size: 2rem;
    margin-top: $lg;
}
//styles for p tag in instruction page
.inst-p{
    text-align: center;
    margin-top: 2rem;
    color: rgb(12, 27, 28);
}
//styles for lists tag in instruction page
.inst-ul{
    text-align: center;
    margin-top: 2rem;
    color: rgb(12, 27, 28);

}

//style for the icon
.inst{
    font-size: 3rem;
    margin-top: 2rem;
    color: rgb(30, 18, 207);
  
    
}
.imginst{
    align-items: center;
}
